* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #5f9682;
    padding: 20px;
  }
  
  .self {
    display: flex;
  }
  
 .box, .wishlist {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 900px;
  } 
  
  .img {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .img img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
  }
  
  .section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .section h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section h2{
    font-size: 42px;
    color: #008080;
    margin-bottom: 10px;
  }
  .wishlist h2{
    font-size: 42px;
    color: #008080;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .section h4 {
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
  }
  
  .section p, .section ul {
    font-size: 16px;
    color: #333;
    font-size: 22px;
  }
  
  .section ul {
    list-style: none;
    padding: 0;
  }
  
  .section ul,.section li {
    margin-bottom: 5px;
  }
  
  .items {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .items img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  
  .items p {
    margin-top: 8px;
    font-size: 24px;
  }